{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <br><br>
                <label>Select Network:</label>
                <select class="form-control" id="select-network" name="select_network">
                    {% for network in networks %}
                    <option>{{ network }}</option>
                    {% endfor %}
                </select>
                <label>Select Dataset:</label>
                <select class="form-control" id="select-dataset" name="select_dataset">
                    {% for dataset in datasets %}
                    <option>{{ dataset }}</option>
                    {% endfor %}
                </select>
            <br>
        </div>
        <div class="col-9">
            <br><br>
            <ul>
                <li class="list-group-item text-light bg-secondary">Result:</li>
            </ul>
            <div style="height: 400px; width: 90%; overflow-y: scroll; margin: auto;" align="center">
                <table class="table" align="center">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Label</th>
                            <th>Pred</th>
                            <th>Result</th>
                            <th>Prob</th>
                        </tr>
                    </thead>
                    <tbody id="table-result">
                        {% for result in results %}
                        <tr>
                            {% for res in result %}
                            <td>{{ res }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <button id="run" class="col-2 btn btn-secondary" style="margin-right:10px;">Run</button>
    </div>
</div>
<br>

<script>
    let run = document.getElementById("run");
    run.onclick = (event) => {
        let select_network = document.getElementById("select-network");
        let select_dataset = document.getElementById("select-dataset");
        let network = select_network.selectedOptions[0].innerHTML;
        let dataset = select_dataset.selectedOptions[0].innerHTML;
        $.ajax({
            url: "/run_evaluate",
            type: "POST",
            data: JSON.stringify({"network": network,
                                  "dataset": dataset}),
            dataType: "json",
            contentType: "application/json"
        }).done((res) => {
            let table_result = document.getElementById("table-result");
            // 前回値がある場合は削除
            while (table_result.firstChild) {
                table_result.removeChild(table_result.firstChild);
            }
            // モデルの評価値をテーブルに表示
            for (let i = 0; i < res["y"].length; i++) {
                let tr = document.createElement("tr");
                let td = document.createElement("td");
                td.innerHTML = i + 1;
                tr.appendChild(td);
                td = document.createElement("td");
                td.innerHTML = res["t_index"][i];
                tr.appendChild(td);
                td = document.createElement("td");
                td.innerHTML = res["y_index"][i];
                tr.appendChild(td);
                td = document.createElement("td");
                let is_collect;
                if (res["t_index"][i] == res["y_index"][i]) {
                    is_collect = "Correct";
                    td.classList.add("table-success");
                } else {
                    is_collect = "Incorrect"
                    td.classList.add("table-danger");
                }
                td.innerHTML = is_collect;
                tr.appendChild(td);
                td = document.createElement("td");
                td.innerHTML = res["probs"][i].toFixed(7);
                tr.appendChild(td);
                table_result.appendChild(tr);
            }
        }).fail((request, status, error) => {
            alert(error);
        });
    };
</script>
{% endblock %}
